{% extends '@SyliusAdmin/layout.html.twig' %}

{% set header = configuration.vars.header|default('bout_de_code_sylius_etl_plugin.ui.show_'~metadata.name) %}
{% set event_prefix = 'bout_de_code_sylius_etl_plugin.admin.' ~ metadata.name ~ '.show' %}

{% block title %}{{ header|trans }} {{ parent() }}{% endblock %}

{% block content %}
    {% include '@BoutDeCodeSyliusETLPlugin/admin/pipeline/show/_header.html.twig' %}

    <style>
        pre {
            display: block;
            margin-bottom: 1rem;
            margin-top: 10px;
            overflow: auto;

            background: #343a40;
            color: #f6f8fb;
            border-radius: 5px;
            padding: 1rem;
        }
    </style>

    <section class="ui segment">
        {% include '@BoutDeCodeSyliusETLPlugin/admin/pipeline/show/_details.html.twig' %}
        {% include '@BoutDeCodeSyliusETLPlugin/admin/pipeline/show/_configurations.html.twig' %}
        {% include '@BoutDeCodeSyliusETLPlugin/admin/pipeline/show/_history.html.twig' %}
    </section>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ sylius_template_event([event_prefix ~ '.stylesheets', 'sylius.admin.update.stylesheets'], { 'metadata': metadata }) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ sylius_template_event([event_prefix ~ '.javascripts', 'sylius.admin.update.javascripts'], { 'metadata': metadata }) }}
{% endblock %}
